{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <link href="{{ asset('css/signin.css')}}" rel="stylesheet">

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<body class="text-center">
    <main class="form-signin">
        <section class="py-2 text-center container">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                 <h1 class="h4 mb-4 fw-normal">Création de compte</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-outline-light mt-5 mb-3">Register</button>
    {{ form_end(registrationForm) }}

          </div>
        </section>
    </main>
</body>
{% endblock %}
